.nav__header {
    padding: 15px 20px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0, 75);
    
}

.nav__header__left {
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-style: italic;


}

.App-logo {
    padding: 20px;
    height: 50px;
    pointer-events: none;
    border-radius: 30px;
    overflow: hidden; /* Try removing this to see how the sheen works! */
    --sheenX: 0; /* Set these with JavaScript */
    --sheenY: 0;
    }

 @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  

 .nav__header__middle {
     display: flex;
     flex: 1;
     justify-content: center;
     font-weight: 600;
     
  
 }

 .nav__header__option {
     display: flex;
     align-items: center;
     padding: 0 30px;
     cursor: pointer;
 }

 .nav__header__option:hover {
    align-items: center;
    padding: 0 30px;
    opacity: 65%;
 }


 .nav__header__right {
    display: flex;
    color: black;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
 }

 .nav__header__signin:hover {
    
    opacity: 65%;
    
 }

 .nav__header__signin {
    font-weight: 600;
    padding:10px
 }

 .nav__header__signup {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8641d0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
  .nav__header__signup:hover {background-color: rgb(237, 157, 36)}
  
  .nav__header__signup:active {
    background-color: #8641d0;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }

  .glow-on-hover {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8641d0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}
